@{
	ViewData["Title"] = "Om oss - Kontakt uppgifter";
}

<div id="contact">
	<br />
	<h3 id="black">Nyöppnad pizzeria med god service och mat.</h3>

	<h3 id="black">Startades 2017 och har god marginal för att bli större.</h3>

	<h3 id="black">Mejla gärna idéer på hur vi kan förbättra vår meny för att du ska kunna få den mat som DU gillar.</h3>


		<h4>
			Tomasosvägen 15B <br />
			Karlaplan, Stockholm 12654<br />			
			08 - 333 21 15 <br/>
			<a href="mailto:TomasosPizzeria@TomasosPizzera.se">Mejla till oss</a>
		</h4>

</div>

@section Scripts {
	@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}